.App {
  height: 100vh;
  text-align: center;
  background-color: darkblue;
  display: flex;

}

.block {
  width: 250px;
  height: 250px;
  margin: auto auto;
  border: 2px solid blue;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.screen {
  width: 100px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 3px;
  margin: 25px auto;
  text-align: center;
  font-size: 35px;
}

.screen_number {
  width: 100px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 3px;
  margin: 25px auto;
  text-align: center;
  font-size: 35px;
  color: red;
}

.conteiner {
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
}

.reset {
  opacity: 0.2;
}
